<template>
  <div class="belanja">
    <h2>Reporting Belanja</h2>
    <br>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input
            v-model="filter"
            type="search"
            placeholder="Cari"></b-form-input>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col>
           <b-table bordered dark striped hover :items="posts" :fields="fields" :filter="filter"></b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>

export default {
  name: 'Belanja',
  data(){
    return{
      fields:['no','tanggal','nama_item','harga','jumlah_items','nama_user'],
      items:[],
      posts:[],
      filter:""
    }
  },
  created(){
    fetch(this.$urlci+'/api/getAllDataTransaksi')
    .then(response => response.json())
    .then(json =>{ 
      this.posts = json;
    })
  }

}
</script>
