<template>
  <div class="home">
    <br><br><br>
    <img alt="Vue logo" src="../assets/logo.png"><img alt="LKPP logo" src="../assets/lkpp.png">
    <br><br>
    <h4>Selamat Datang Di</h4><h3>Aplikasi Reporting Sederhana Menggunakan CI 3 & Vue Js</h3>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
    
  }
}
</script>
